<div class="m-12 flex flex-col gap-y-8">
  <section class="flex gap-x-4">
    <button mat-stroked-button color="primary">Primary</button>
    <button mat-flat-button color="primary">Primary</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-button color="primary">Primary</button>
  </section>

  <section>
    <mat-chip-listbox aria-label="Fish selection">
      <mat-chip-option>One fish</mat-chip-option>
      <mat-chip-option>Two fish</mat-chip-option>
      <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
      <mat-chip-option color="warn">Warn fish</mat-chip-option>
    </mat-chip-listbox>
  </section>
</div>
